.input {
  font-size: var(--fs-body-md);
  border: var(--border-width) solid var(--clr-grey-500);
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
}

@media (hover: hover) {
  .input:hover {
    border-color: var(--clr-green-600);
  }

  .inputError:hover {
    border-color: var(--clr-red);
  }
}

.inputError {
  border-color: var(--clr-red);
  outline-color: var(--clr-red);
}
