.formWrapper {
  position: relative;
  width: 100%;
  max-width: 46rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: var(--clr-white);
  border-radius: 16px;
  padding: 1.5rem;
}

@media (min-width: 48rem) {
  .formWrapper {
    padding: 2.5rem;
  }
}

.formTitle {
  font-size: var(--fs-heading);
  line-height: 1;
  letter-spacing: -1px;
}

.formElementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formElementsBottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.namesWrapper {
  display: grid;
  gap: 1.5rem 1rem;
}

@media (min-width: 48rem) {
  .namesWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.radioWrapper {
  display: grid;
  gap: 1rem;
}

@media (min-width: 48rem) {
  .radioWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
