.radioLabel {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--fs-body-md);
  border: var(--border-width) solid var(--clr-grey-500);
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.radioLabel:has(.radioButton:checked) {
  background-color: var(--clr-green-200);
}

.radioButton {
  appearance: none;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--clr-grey-500);
  border-radius: 100vw;
  cursor: pointer;
}

.radioButton:checked {
  border: 2px solid var(--clr-green-600);
}

.radioButton:checked::after {
  position: absolute;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--clr-green-600);
  border-radius: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
